services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: shop
      POSTGRES_USER: shop
      POSTGRES_PASSWORD: shop
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U shop -d shop"]
      interval: 5s
      timeout: 5s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  orders:
    build: ./OrdersService
    container_name: orders-service
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    ports:
      - "5001:80"
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__DefaultConnection: "Host=postgres;Database=shop;Username=shop;Password=shop;Timeout=60;Command Timeout=60"
    restart: always
    entrypoint: ["sh", "-c", "sleep 45 && dotnet OrdersService.dll"]

  payments:
    build: ./PaymentsService
    container_name: payments-service
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    ports:
      - "5002:80"
    environment:
      ASPNETCORE_URLS: http://+:80
    restart: always
    entrypoint: ["sh", "-c", "sleep 45 && dotnet PaymentsService.dll"]

volumes:
  pgdata: